
@import '../../../assets/variables';
.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid $sky-blue-color;
  border-bottom: 16px solid $sky-blue-color;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
.content {
  text-align: -webkit-center;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.header {
  text-align: center;
  border-bottom: 1px solid $light-grey;
  margin: 10px 10px;
}
.loader-message {
  margin-top: 5px;
  color: $sky-blue-color;
}
@-moz-document url-prefix() {
  .loader-container {
    position: relative;
    .loader {
      position: relative;
      left: 42%;
    }
  }
}
